:root {
    /* Cores */
    --primary-color: #6a5acd;
    /* Roxo suave */
    --secondary-color: #ffffff;
    --accent-hover: #d5a6d4;
    --background-overlay: rgba(0, 0, 0, 0.3);
    /* Overlay com menor opacidade */
    --input-bg: rgba(255, 255, 255, 0.8);
    --border-color: #ddd;
    --text-color: #333;

    /* Fontes */
    --font-primary: 'Roboto', sans-serif;

    /* Espaçamento */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Transições */
    --transition-speed: 0.3s;
}

/* Reset básico */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corpo da página */
body {
    font-family: var(--font-primary);
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(106, 90, 205, 0.3), rgba(106, 90, 205, 0.3)), url('../pages/img/fundoLivros.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: auto;
}

/* Overlay para melhorar a legibilidade */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-overlay);
    z-index: 0;
}

/* Cabeçalho */
.header {
    width: 100%;
    background-color: transparent;
    padding: var(--spacing-small) 0;
    border-bottom: 2px solid rgba(106, 90, 205, 0.5);
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    /* Permite que os itens quebrem em dispositivos menores */
}

.logo-container img {
    max-height: 80px;
}

.header-nav {
    display: flex;
}

.header-button {
    margin-left: var(--spacing-small);
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
    display: flex;
    align-items: center;
}

.header-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* Ajuste de cor ao texto no hover */
}

/* Botão "Registrar Novo Livro" */
.header-buttons {
    margin-top: var(--spacing-small);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.register-button {
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: transparent; /* Fundo transparente */
    color: var(--secondary-color); /* Texto branco */
    text-decoration: none;
    border: 2px solid var(--primary-color); /* Borda sólida roxa */
    border-radius: 25px; /* Bordas arredondadas */
    transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.register-button:hover {
    background-color: var(--primary-color); /* Fundo roxo no hover */
    color: var(--secondary-color); /* Texto branco */
}

/* Campo de Busca */
.search-container {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-small);
}

.search-container input {
    padding: var(--spacing-small);
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    margin-right: var(--spacing-small);
    font-size: 16px;
    color: black; /* Aqui você define a cor das letras como preta */
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.search-container input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
    outline: none;
    background-color: #ffffff;
}

.search-container button {
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16px;
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.search-container button:hover {
    background-color: var(--accent-hover);
    transform: translateY(-2px);
}

.search-container button:active {
    transform: translateY(0);
}

/* Main */
main {
    flex-grow: 1;
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    max-width: 1200px;
    margin-top: var(--spacing-large);
}

main h1 {
    margin-bottom: var(--spacing-large);
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Filtro de gêneros */
.form-group {
    position: relative;
    margin-bottom: var(--spacing-medium);
    width: 100%;
    max-width: 400px;
}

.form-group label {
    display: block;
    margin-bottom: var(--spacing-small);
    color: var(--secondary-color);
    font-weight: 500;
}

.input-icon select {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--input-bg);
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-color);
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.input-icon select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
    outline: none;
    background-color: #ffffff;
}

/* Container de livros */
.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-large);
    padding: var(--spacing-large);
    width: 100%;
    max-width: 1200px;
}

/* Cartão de livro individual */
.book {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    border-radius: 15px;
    padding: var(--spacing-medium);
    margin: var(--spacing-small);
    width: 220px; /* Largura fixa para os cartões */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
}

/* Imagem do livro */
.book img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: var(--spacing-small);
}

/* Título do livro */
.book h3 {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: var(--spacing-small);
}

/* Autor do livro */
.book p.book-author {
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: var(--spacing-small);
}

/* Sinopse do livro */
.book p.book-description {
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: var(--spacing-small);
}

/* Botão para adicionar à lista */
.add-to-list-btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.add-to-list-btn:hover {
    background-color: var(--accent-hover);
    transform: translateY(-2px);
}

.add-to-list-btn:active {
    transform: translateY(0);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
.modal.active {
    display: flex;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: var(--spacing-large);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 600px;
    position: relative;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Para o conteúdo do modal */
.modal-content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: var(--spacing-large);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-content img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: var(--spacing-medium);
}

.modal-content h3 {
    font-size: 24px;
    margin-bottom: var(--spacing-medium);
}

.modal-content p {
    font-size: 16px;
    margin-bottom: var(--spacing-medium);
}

/* Botões no modal */
.modal-content .close-btn,
.modal-content .favorite-btn,
.modal-content .trade-btn,
.modal-content .add-to-list-btn { /* Adicionando a classe add-to-list-btn aqui */
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: #6a5acd; /* Fundo transparente */
    color: var(--secondary-color); /* Texto branco */
    text-decoration: none;
    border: 2px solid var(--primary-color); /* Borda roxa */
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: background-color var(--transition-speed) ease, 
                color var(--transition-speed) ease, 
                transform var(--transition-speed) ease;
}

/* Efeito de hover para os botões */
.modal-content .close-btn:hover,
.modal-content .favorite-btn:hover,
.modal-content .trade-btn:hover,
.modal-content .add-to-list-btn:hover { /* Hover no botão "Adicionar à Lista" */
    background-color: var(--primary-color); /* Fundo roxo no hover */
    color: var(--secondary-color); /* Texto branco */
    transform: translateY(-2px); /* Elevação suave */
}

/* Efeito ativo para os botões */
.modal-content .close-btn:active,
.modal-content .favorite-btn:active,
.modal-content .trade-btn:active,
.modal-content .add-to-list-btn:active { /* Ativo no botão "Adicionar à Lista" */
    transform: translateY(0); /* Retorno ao estado normal */
}
/* Botão "Adicionar à Lista" */
.add-to-list-btn {
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: #6a5acd;
    color: var(--secondary-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: background-color var(--transition-speed) ease, 
                color var(--transition-speed) ease, 
                transform var(--transition-speed) ease;
}

.add-to-list-btn:hover {
    background-color: var(--primary-color); /* Fundo roxo no hover */
    color: var(--secondary-color); /* Texto branco */
    transform: translateY(-2px); /* Elevação suave */
}

.add-to-list-btn:active {
    transform: translateY(0); /* Retorno ao estado normal */
}

/* Rodapé */
.footer {
    width: 100%;
    padding: var(--spacing-large);
    background-color: transparent;
    text-align: center;
    margin-top: var(--spacing-large);
    color: var(--text-color);
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 5px;
    transition: color var(--transition-speed) ease;
}

.footer a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}

.footer form {
    margin-top: var(--spacing-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer form label {
    margin-right: var(--spacing-small);
    color: var(--secondary-color);
}

.footer form input[type="email"] {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--input-bg);
    margin-right: var(--spacing-small);
    font-size: 16px;
    color: var(--text-color);
}

.footer form input[type="email"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
    outline: none;
    background-color: #ffffff;
}

.footer form button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.footer form button:hover {
    background-color: var(--accent-hover);
    transform: translateY(-2px);
}

.footer form button:active {
    transform: translateY(0);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-button {
        margin: var(--spacing-small) 0;
    }

    .form-group {
        max-width: 100%;
    }

    .books-container {
        gap: var(--spacing-medium);
        padding: var(--spacing-medium);
    }

    .book {
        width: 180px;
        padding: var(--spacing-small);
    }

    main h1 {
        font-size: 1.8rem;
    }

    .trade-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .books-container {
        flex-direction: column;
        align-items: center;
    }

    .book {
        width: 90%;
        max-width: 300px;
    }

    .modal-content {
        padding: var(--spacing-medium);
    }

    .modal-content img {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }

    .logo-container img {
        max-height: 60px;
    }

    .book h3 {
        font-size: 16px;
    }

    .book p.book-author {
        font-size: 14px;
    }

    .book p.book-description {
        font-size: 12px;
    }

    .add-to-list-btn {
        font-size: 14px;
    }

    .trade-btn {
        font-size: 14px;
    }
}

/* Acessibilidade */
button:focus,
input:focus,
a.header-button:focus,
.close-btn:focus,
.trade-btn:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

/* Mensagens de Erro */
.error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    text-align: left;
}
