/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #fcdda4;
    margin: 0;
    padding: 0;
}

img {
    max-width: 200px;
    display: block;
    margin: 30px auto 0;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 960px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-2,
.col-md-8 {
    box-sizing: border-box;
}

.col-md-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.col-md-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}

/* Card de Formulário */
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    background-color: #fdedcb;
    border-radius: 10px;
    padding: 20px;
}

h3 {
    color: #000000;
    text-align: center;
}

/* Estilos de Formulário */
.form-group {
    margin-bottom: 1.5rem;
}

label {
    color: #000000;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

button {
    display: flex;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background-color: #eac9f1;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

button:hover {
    background-color: #d5a6d4;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-container {
        padding: 15px;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        padding: 8px;
    }

    button {
        padding: 8px 15px;
    }
}

@media screen and (max-width: 480px) {
    img {
        max-width: 150px;
    }

    .form-container {
        padding: 10px;
    }

    button {
        padding: 7px 10px;
    }
}

/* Estilos para telas pequenas (320px) */
@media screen and (max-width: 320px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 15px;
    }

    img {
        max-width: 180px;
    }

    .form-control,
    .form-control-file,
    .form-control-file input {
        font-size: 16px;
        padding: 8px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }

    textarea {
        font-size: 16px;
        padding: 8px;
    }
}

/* Estilos para telas muito pequenas (240px) */
@media screen and (max-width: 240px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    img {
        max-width: 150px;
    }

    .form-control,
    .form-control-file,
    .form-control-file input {
        font-size: 14px;
        padding: 5px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }

    textarea {
        font-size: 14px;
        padding: 5px;
    }
}