/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #fcdda4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 200px;
    display: block;
    margin: 30px auto 0;
}
h1{
    text-align: center;
    color: #000000;
    font-size: 24px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    box-sizing: border-box;
}

.form-card {
    background-color: #fdedcb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

h3 {
    color: #000;
    text-align: center;
    margin-bottom: 1.5rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    background-color: #eac9f1;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #d5a6d4;
}

.signup-link {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.signup-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin-top: 1rem;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-container {
        padding: 15px;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        padding: 8px;
    }

    button {
        padding: 8px 15px;
    }
}

@media screen and (max-width: 480px) {
    img {
        max-width: 150px;
    }

    .form-container {
        padding: 10px;
    }

    button {
        padding: 7px 10px;
    }
}

/* Estilos para telas pequenas (320px) */
@media screen and (max-width: 320px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 15px;
    }

    img {
        max-width: 180px;
    }

    .form-control,
    .form-control-file,
    .form-control-file input {
        font-size: 16px;
        padding: 8px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }

    textarea {
        font-size: 16px;
        padding: 8px;
    }
}

/* Estilos para telas muito pequenas (240px) */
@media screen and (max-width: 240px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    img {
        max-width: 150px;
    }

    .form-control,
    .form-control-file,
    .form-control-file input {
        font-size: 14px;
        padding: 5px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }

    textarea {
        font-size: 14px;
        padding: 5px;
    }
}